<% wrap_layout :layout do %>
<div class="mw9 center pt3 pt5-ns pb4 pb6-ns">
  <div class="cf center w-100 w-100-m w-50-ns tl pa3 pa5-ns pb3-ns lh-copy">
    <h1 class="f3 f1-ns lh-title green mb0"><%= current_page.data.title %></h2>
    <span class="silver"><%= current_page.data.date.strftime('%B %Y') %></span>
    <%= yield %>
    <p class="tl mt5">—</p>
  </div>

</div>
<% end %>
