<nav class="fixed w-100 gradient-header">
  <div class="mw9 center pa5-ns pa4">
    <a class="fl w-40 v-mid dim link" href="index-wip.html" title="Home">
      <%= image_tag 'bucketlabs_logo.svg', :class => "w4" %>
    </a>
    <div class="fl w-60 v-mid tr f6 pt1">
      <a class="link dim white dib mr3" href="index-wip.html" title="About">About</a>
      <a class="link dim white dib mr3" href="team.html" title="Team">Team</a>
      <a class="link dim white dib" href="contact.html" title="Contact">Contact</a>
    </div>
  </div>
</nav>
