<div class="pb3">
  <div class="cf ph6-l ph4 pt6-l pt5 pb5-l pb4 gradient-yellow">
    <h1 class="w-100 w-70-l f1 f-5-l navy lh-solid mb4">Contact</h1>
    <div class="fl w-100 navy f4 lh-copy fw3 measure">
      <p>BucketLabs Limited<br />
      115 Tory Street, Te Aro, Wellington 6011</p>
      <p>All enquiries: <br />
        <a href="mailto:tim@bucketlabs.nz" class="cf  lh-copy link navy hover-blue">‭tim@bucketlabs.nz‬</a>
        <a href="tel:" class="cf  lh-copy link navy hover-blue">‭+64 21 383 215‬</a>
      </p>
    </div>
  </div>
</div>
