<div class="pb3">
  <div class="cf ph6-l ph4 pt6-l pt5 pb5-l pb4 gradient-green">
    <h1 class="w-100 w-70-l f1 f-5-l navy lh-solid mb4">Tim Packer</h1>
    <a href="mailto:tim@bucketlabs.nz" class="cf f5 lh-copy link navy hover-blue">‭tim@bucketlabs.nz‬</a>
    <a href="tel:" class="cf f5 lh-copy link navy hover-blue">‭+64 21 383 215‬</a>
    <div class="fl w-100 white f4 lh-copy fw3 measure">
      <p>Tim Packer is a recognised authority on the emerging practice often referred to as Smart Cities.</p>
      <p>In 2014 on behalf of NEC, Tim established an agile practice that applied emerging IoT technologies, embedded systems, machine learning, data visualisation and gaming engines to address real world city problems. Through successful collaborations with cities in New Zealand, Tim and his team have demonstrated new ways of working between public and private interests to facilitate more informed and more democratic decision-making across communities. </p>
      <p>Supported by 34 years of experience in ICT, AgTech and Telecommunications, Tim’s knowledge and critical thinking is best applied to new technology developments and startups striving to make the world a more sustainable and liveable place.</p>
    </div>
  </div>
</div>

<div class="pb3">
  <div class="cf ph6-l ph4 pv5-l pv4 gradient-orange">
    <h1 class="w-100 w-70-l f1 f-5-l navy lh-solid mb4">Matt Dillon</h1>
    <div class="fl w-100 white f4 lh-copy fw3 measure">
      <p>Matt Dillon has spent the last 25 years helping clients imagine different futures and experiences for their customers. </p>
      <p>Matt cut his teeth designing user experiences across multimedia channels covering a range of industries, with clients that ranged from nimble start-ups exploring unproven revenue streams to traditional corporates that were struggling to keep pace with digital disruption. For the last decade, Matt has changed the model for utility customer experiences and during this time has passionately advocated for smart, user-centric design that reduces people’s frustrations and improves the efficiency of energy use. </p>
      <p>Matt is renowned for his ability to engage with others and can see solutions that bring together technology and user-centricity that are creative, logical and inherently commercial.</p>
    </div>
  </div>
</div>


<div class="pb3">
  <div class="cf ph6-l ph4 pv5-l pv4 gradient-blue">
    <h1 class="w-100 w-80-l f1 f-5-l navy lh-solid mb4">Steve Purcell</h1>
    <div class="fl w-100 navy f4 lh-copy fw3 measure">
      <p>Steve Purcell is a well-known UK veteran of 22 years in the software industry, spent in start-ups, consultancies and product companies around the world up to CTO level. </p>
      <p>He remains keenly technical, having worked with the originators of modern agile development techniques, and has an uncanny knack for identifying up-and-coming technology and using it to build complex products quickly.</p>
      <p>Whether providing technical leadership to 60+ developer teams, managing companies, mentoring individuals, or enthusiastically writing code, he aims to help us all more effectively look after each other and the planet.</p>
    </div>
  </div>
</div>
